@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&family=Montserrat:wght@400;600&family=Roboto+Condensed:wght@300&family=Roboto:wght@400;700&family=Tangerine:wght@700&display=swap');

:root {
    --color-background:#000000;
    --color-background2: #1a1918;
    --color-font: #FAF6F0;

    --font-title: 'Tangerine', sans-serif;
    --font-text: 'Roboto Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-font);
}

header {
    width: 100%;
    background-color: var(--color-background2);
    padding: 2rem 6rem 1rem 6rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .title, .hamburgerMenu span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title__store {
    font-family: var(--font-title);
    font-size: 4rem;
}

.divide, .subtitle__store {
    font-family: var(--font-title);
    font-size: 2rem;
}

.hamburgerMenu {
    cursor: pointer;
}

.hamburgerMenu span {
    height: 0.2rem;
    width: 2rem;
    background-color: var(--color-font);
    display: block;
    margin-bottom: 0.2rem;
}

.menu {
    background-color: var(--color-background2);
    display: flex;
    width: auto;
}

.menu ul li {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: auto;
    font-family: var(--font-text);
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.menu .mainMenu li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.carousel__images {
    max-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel__img {
    width: 60rem;
}

.about {
    max-width: auto;
    justify-content: center;
    display: flex;
    padding: 6rem 6rem;
    gap: 3rem;
}

.about__images img {
    width: 30rem;
}

.about__text h2, .product__top h2, .contact h2 {
    font-family: var(--font-title);
    font-size: 3rem;
    margin-bottom: 3rem;
}

.about__text p {
    font-family: var(--font-text);
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    text-align: justify;
}

.about__social {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

.about__social img {
    width: 2.5rem;
    cursor: pointer;
}

.product__top {
    padding: 0 6rem;
    text-align: center;
}

.product__top h2 {
    background-color: var(--color-background2);
}

.product__top img {
    width: 15rem;
}

.product__top li h3 {
    margin: 1rem 0;
}

.product__top__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 6rem;
    max-width: auto;
    justify-content: space-between;
}

.product__top li {
    list-style: none;
    display: flex;
    flex-direction: column;
    border: 1px solid #1a1918;
}

.product__top h3 {
    width: 15rem;
    text-align: center;
    font-family: var(--font-title);
    color: var(--color-font);
    font-size: 2rem;
}
.product__top p {
    width: 15rem;
    display: flex;
    text-align: center;
    font-family: var(--font-text);
    color: var(--color-font);
    padding: 0 1rem 2rem;
    text-align: justify;
}

.product__top strong {
    width: 15rem;
    font-family: var(--font-text);
    font-size: 1.2rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.top__trending__button {
    display: flex;
    justify-content: center;
}

.product__top button,
.contact__button button {
    cursor: pointer;
    padding: 0.5rem ;
    width: 10rem;
    font-family: var(--font-text);
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 1rem;
}

.product__top button:hover,
.contact__button button:hover {
    background-color: #1a1918;
    color: var(--color-font);
    width: 11rem;
}

.contact {
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
}

.contact h2 {
    display: flex;
    justify-content: center;
    background-color: var(--color-background2);
}

.contact__form,
.contact__button {
    display: flex;
    justify-content: center;
}

.contact__form input,
textarea {
    font-family: var(--font-text);
    font-size: 1rem;
    background-color: var(--color-background2);
    color: var(--color-font);
    border: none;
    border-radius: 0.3rem;
    width: 40rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

textarea {
    resize: none;
    height: 4rem;
}

.wrongField {
    color: red;
    font-family: var(--font-text);
    font-size: 0.8rem;
    display: flex;
}

footer {
    background-color: var(--color-background2);
    font-family: var(--font-text);
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    header {
        padding: 2rem 6rem 1rem 6rem;
    }

    .title__store {
        font-size: 3rem;
    }

    .divide, .subtitle__store {
        font-size: 1.5rem;
    }

    .hamburgerMenu span {
        height: 0.2rem;
        width: 2rem;
        margin-bottom: 0.2rem;
    }

    .menu ul li {
        display: inline;
        font-size: 1.1rem;
    }

    .carousel__images {
        display: flex;
        justify-content: center;
    }
    
    #carousel__img {
        width: 40rem;
    }
        
    .about {
        display: flex;
        flex-direction: column;
        padding: 3rem 3rem 0 3rem;
    }

    .about__images {
        display: flex;
        justify-content: center;
    }

    .about__images img {
        width: 30rem;
    }

    .about__text h2, .product__top h2, .contact h2 {
        display: flex;
        justify-content: center;
        font-family: var(--font-title);
        font-size: 3rem;
        background-color: var(--color-background2);
    }

    .product__top {
        padding: 3rem;
    }

    .product__top__list {
        display: flex;
        gap: 1rem;
    }

    .product__top img {
        width: 8rem;
    }
    
    .product__top li h3 {
        margin: 1rem 0;
    }

    .product__top h3 {
        width: 8rem;
    }
    .product__top p {
        width: 8rem;
    }
    
    .product__top strong {
        width: 8rem;
    }

    .product__top button,
    .contact__button button {
        width: 8rem;
    }

    .contact {
        padding: 0 3rem 3rem 3rem;
    }

    .contact__form input,
    textarea {
        font-size: 1rem;
        width: 30rem;
        height: 1.7rem;
    }
    
    textarea {
        resize: none;
        height: 4rem;
    }
    
    .wrongField {
        color: red;
        font-family: var(--font-text);
        font-size: 0.8rem;
        display: flex;
    }
    
    footer {
        background-color: var(--color-background2);
        font-family: var(--font-text);
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
    }
    
}

@media screen and (max-width: 640px) {
    header {
        padding: 0.5rem 3rem 0.5rem 3rem;
    }

    .title__store {
        font-size: 2rem;
    }

    .divide, .subtitle__store {
        font-size: 1rem;
    }

    .hamburgerMenu span {
        height: 0.2rem;
        width: 2rem;
        margin-bottom: 0.2rem;
    }

    .menu ul li {
        display: inline;
        font-size: 0.8rem;
    }

    .carousel__images {
        display: none;
    }

    .about {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2rem 2rem 0 2rem;
    }

    .about__images {
        display: flex;
        justify-content: center;
    }

    .about__images img {
        width: 19rem;
    }

    .about__text h2, .product__top h2, .contact h2 {
        display: flex;
        justify-content: center;
        font-family: var(--font-title);
        font-size: 2rem;
        background-color: var(--color-background2);
    }

    .about__social img {
        width: 2rem;
    }

    .product__top {
        padding: 3rem;
    }

    .product__top__list {
        display: flex;
        gap: 1rem;
    }

    .product__top img {
        width: 8rem;
    }
    
    .product__top li h3 {
        margin: 1rem 0;
    }

    .product__top h3 {
        width: 8rem;
    }
    .product__top p {
        width: 8rem;
    }
    
    .product__top strong {
        width: 8rem;
    }

    .product__top button,
    .contact__button button {
        width: 8rem;
    }

    .contact {
        padding: 0 3rem 3rem 3rem;
    }

    .contact__form input,
    textarea {
        font-size: 1rem;
        width: 15rem;
        height: 1.7rem;
    }
    
    textarea {
        resize: none;
        height: 4rem;
    }
    
    .wrongField {
        color: red;
        font-family: var(--font-text);
        font-size: 0.8rem;
        display: flex;
    }
    
    footer {
        background-color: var(--color-background2);
        font-family: var(--font-text);
        font-size: 0.5rem;
        display: flex;
        justify-content: center;
    }
}